.container {
  display: flex;
}

.featuredContainer {
  margin: auto;
  max-width: 90%;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.featuredContainer::-webkit-scrollbar {
  display: none;
}
